In [1]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries
from sql_queries import create_table_queries, drop_table_queries

In [2]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [3]:
config['IAM_ROLE']['ARN']

'arn:aws:iam::570606663173:role/myRedshiftRole'

In [41]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [6]:
def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()

def insert_tables(cur, conn):
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()
        
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [7]:
# drop table
drop_tables(cur, conn)

In [8]:
# create table
create_tables(cur, conn)

In [9]:
# load staging table
load_staging_tables(cur, conn)

In [11]:
# insert table
insert_tables(cur, conn)

In [19]:
conn.close()

### Check Tables

In [67]:
# let's start to use inline sql
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format('redshift_user', 'Passw0rd', 
                                                 'mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com'
                                                 , 5439, 'mydwh')
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://redshift_user:Passw0rd@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh

'Connected: redshift_user@mydwh'

In [68]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.91138, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', Decimal('1541044398796'), 256, 'Almost Lover (Album Version)', 200, Decimal('1541377992796'), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.77832, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'Serve The Servants', 200, Decimal('1541381242796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.49751, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'See No Evil  (Remastered LP Version)', 200, Decimal('1541381456796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.43546, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'Blues To Bechet (LP Version)', 200, Decimal('1541381694796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.79628, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, "It's My Job To Keep Punk Rock Elite", 200, Decimal('1541382040796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

In [69]:
%sql SELECT * FROM staging_songs LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[(1, 'ARY589G1187B9A9F4E', 45.51179, -122.67563, 'Portland, OR', 'Talkdemonic', 'SOIGHOD12A8C13B5A1', 'Indian Angel', 171.57179, 2004),
 (1, 'AR7TTS41187B9B42D3', 34.36401, -89.51877, 'Oxford, MS', 'R.L. Burnside', 'SOTWVQT12A58A79650', 'Glory Be', 277.78567, 2004),
 (1, 'AR6QV1M1187FB3AB2F', 52.88356, -1.97406, 'England', 'Gene', 'SONSIYV12A6701C9BB', 'Mayday', 204.53832, 1999),
 (1, 'ARNUU2R1187B9A316C', 62.19845, 17.55142, '�gelholm, Sweden', 'Sounds Like Violence', 'SOJIUNI12A6D4FCA34', 'The Greatest', 266.4224, 2007),
 (1, 'ARTMSN91187FB3A3B7', None, None, '', 'Annihilator', 'SODFYNJ12A8C1453B1', 'Sexecution', 274.57261, 1996),
 (1, 'ARDI3SN1187B996E7B', 39.55792, -7.84481, 'Portugal', 'GNR', 'SOVGDOA12A6D4F96A8', 'Toxicidade', 341.05424, 1992),
 (1, 'AR8B79N1187B98FB4A', None, None, 'Rio Piedras, Puerto Rico', 'Chayanne', 'SOPABCG12AB0181B38', 'Te Echo De Menos', 208.56118, 2006),
 (1, 'ARX16TQ1187B9899C9', 29.95369, -90.07771, 'New Orleans, LA', 'Oysterhead', 'SOREHRF12A6701C41A', 'Rubberneck Lions (LP Version)', 315.53261, 2001),
 (1, 'ARXSPYZ1187B98972A', 36.2929, -95.15261, 'Salina, OK', 'Carl Belew', 'SOGJSEF12AB01847D4', "Love's Been Good To Me", 131.05587, 0),
 (1, 'ARY409C1187B9B723A', None, None, '', 'Magnolia Electric Co.', 'SOIMAVA12A8C13D619', 'Texas 71 (from Nashville Moon)', 258.92526, 0)]

In [88]:
%sql SELECT * FROM songplays ORDER BY songplay_id LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[(0, datetime.datetime(2018, 11, 18, 17, 17, 4, 796000), '29', 'paid', 'SOUGLIK12A8C143DF4', 'ARFNJLY1187FB3E735', 589, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1, datetime.datetime(2018, 11, 30, 10, 42, 9, 796000), '36', 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 22, 13, 21, 20, 796000), '101', 'free', 'SOUHTWB12A8C13BA4D', 'AR96LYR1187B9ABABD', 790, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 29, 21, 0, 3, 796000), '80', 'paid', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', 1065, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 16, 16, 27, 21, 796000), '90', 'free', 'SOMUJKC12AB01865AD', 'AR9RYZP1187FB36C6A', 148, 'Pensacola-Ferry Pass-Brent, FL', 'Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5, datetime.datetime(2018, 11, 20, 11, 1, 0, 796000), '42', 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 747, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 11, 18, 53, 36, 796000), '16', 'free', 'SOKNMJE12A67AE0421', 'ARPD2KK1187B9B8B98', 446, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (7, datetime.datetime(2018, 11, 5, 14, 43, 54, 796000), '44', 'paid', 'SOZARNI12A67020744', 'AR3WLE91187B99430A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (8, datetime.datetime(2018, 11, 13, 8, 30, 1, 796000), '25', 'paid', 'SODWLOQ12AB017EC73', 'AR4SRB61187FB5538F', 442, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 29, 1, 38, 30, 796000), '24', 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [86]:
%sql SELECT * FROM artists LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[('AR72QR11187FB52486', 'Tokyo Sex Destruction', 'Barcelona, Spain', Decimal('41'), Decimal('2')),
 ('AR8JSAL1187FB3CE7E', 'JDS', '', None, None),
 ('ARA9N2X1187B999181', 'Dragonland', 'Gothenburg, Sweden', None, None),
 ('AR35P5U1187B9ADF0A', 'James LaBrie', '', None, None),
 ('ARUY6971187FB3AB45', 'Orchestral Manoeuvres In The Dark', 'Liverpool, England', Decimal('53'), Decimal('-3')),
 ('AR31EL21187B98A723', 'The Velvelettes', 'Detroit, MI', Decimal('42'), Decimal('-83')),
 ('ARIH5GU1187FB4C958', 'Silverchair', 'Newcastle', None, None),
 ('ARYLKRH1187B98AC77', 'Municipal Waste', 'Richmond, Virginia (Estados Unidos)', Decimal('38'), Decimal('-77')),
 ('ARPDSJT11E2835E920', 'Mani Spinx', '', None, None),
 ('ARU1LDO1187B9B19D2', 'KATAKLYSM', '', None, None)]

In [72]:
%sql SELECT * FROM songs LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[('SOXTMWU12AB0185E3B', 'One More Lie (Standing In The Shadows)', 'ARB3YNF1187B992AF0', 2010, Decimal('184')),
 ('SOTRBEK12A58A7D496', 'Ana', 'ARBKGAY1187B98DEBE', 1997, Decimal('313')),
 ('SOXMHES12A6D4F9F19', "Rev. Jack & His Roamin' Cadillac Church", 'ARBTQ6W1187FB38032', 0, Decimal('253')),
 ('SOJVFTZ12AB0185333', 'Change Form! (ft. Diverse)', 'ARU1Y6X1187B9977D2', 2006, Decimal('278')),
 ('SOJWHTL12AB018283A', 'Feel OK', 'AR5A5TB1187FB589A4', 2009, Decimal('129')),
 ('SOVQTTW12A6D4FA03D', "Alice's Song", 'ARTIBOP1269FB3853E', 2006, Decimal('172')),
 ('SOJXSZM12AC468CAF3', 'Ojos De Dios', 'ARBQ12H1187B9A9223', 2009, Decimal('190')),
 ('SORYTWA12AB018AE78', 'Inseguridad', 'ARS0NXN1187B98B915', 1982, Decimal('158')),
 ('SOYLMGR12A6D4F7A89', 'Palabra', 'AR0BQ871187FB43ED0', 0, Decimal('235')),
 ('SOKNNPO12AB0185EF2', 'Burden', 'ARLZCCP11F4C83D659', 0, Decimal('123'))]

In [73]:
%sql SELECT * FROM users LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[('52', 'Theodore', 'Smith', 'M', 'free'),
 ('63', 'Ayla', 'Johnson', 'F', 'free'),
 ('42', 'Harper', 'Barrett', 'M', 'paid'),
 ('60', 'Devin', 'Larson', 'M', 'free'),
 ('84', 'Shakira', 'Hunt', 'F', 'free'),
 ('81', 'Sienna', 'Colon', 'F', 'free'),
 ('75', 'Joseph', 'Gutierrez', 'M', 'free'),
 ('35', 'Molly', 'Taylor', 'F', 'free'),
 ('85', 'Kinsley', 'Young', 'F', 'free'),
 ('72', 'Hayden', 'Brock', 'F', 'paid')]

In [74]:
%sql SELECT * FROM time LIMIT 10;

 * postgresql://redshift_user:***@mydwhcluster.c0wwgdvjxudl.us-west-2.redshift.amazonaws.com:5439/mydwh
10 rows affected.

[(datetime.datetime(2018, 11, 16, 10, 43, 30, 796000), 10, 320, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 24, 11, 19, 6, 796000), 11, 328, 47, 11, 2018, 6),
 (datetime.datetime(2018, 11, 7, 5, 32, 6, 796000), 5, 311, 45, 11, 2018, 3),
 (datetime.datetime(2018, 11, 9, 14, 50, 53, 796000), 14, 313, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 26, 13, 47, 35, 796000), 13, 330, 48, 11, 2018, 1),
 (datetime.datetime(2018, 11, 15, 17, 9, 53, 796000), 17, 319, 46, 11, 2018, 4),
 (datetime.datetime(2018, 11, 21, 8, 25, 43, 796000), 8, 325, 47, 11, 2018, 3),
 (datetime.datetime(2018, 11, 20, 11, 1, 0, 796000), 11, 324, 47, 11, 2018, 2),
 (datetime.datetime(2018, 11, 9, 18, 1, 28, 796000), 18, 313, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 13, 18, 26, 40, 796000), 18, 317, 46, 11, 2018, 2)]